{% from 'bootstrap5/form.html' import render_field, render_form %}

{% extends "base.html" %}
{% block title %}Analytic{% endblock %}
{% block content %}
    Id: {{rd.id}}<br>
    File name: {{rd.filename}}<br>
    Status: {{rd.status}}<br>
    Created at: {{rd.created_at}}<br>
    {% if rd.status == "Ready"%}
        <form method="POST" action="/analytics/{{rd.id}}" class="row g-3" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-primary mb-3">Скачать</button>
            <div >
                <label for="formFile" class="form-label">Выберите файл данных с коорданатами экспедиции. Пример файла можно посмотреть на <a href="{{ url_for('instruction') }}">странице инструкции</a></label>
                {{ render_field(form.file, class="form-control", id="formFile") }}   
            </div>
            <table class="table">
                <tbody>
                 <tr>
                    <td></td>
                    <td>{{ render_field(form.coords.sLat)}}</td>
                    <td></td>
                 </tr>
                 <tr>
                    <td>{{ render_field(form.coords.sLong)}}</td>
                    <td></td>
                    <td>{{ render_field(form.coords.eLong)}}</td>
                 </tr>
                 <tr>
                    <td></td>
                    <td>{{ render_field(form.coords.eLat)}}</td>
                    <td></td>
                 </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Название</th>
                    <th>Минимум</th>
                    <th>Максимум</th>
                    <th>Опция 1</th>
                    <th>Опция 2</th>
                </thead>
                <tbody>
                    {% for band in form.bands %}
                    {% if band.type != "CSRFTokenField" and band.type != "FileField" and band.type != ''%}
                        <tr>
                            <td><button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-{{ band.label.text }}" aria-expanded="false" aria-controls="item-{{ band.label.text }}">+</button></td>
                            <td>{{ band.label }}</td>
                            <td>{{ render_field(band.minVal, form_type='inline') }}</td>
                            <td>{{ render_field(band.maxVal, form_type='inline') }}</td>
                            <td>{{ render_field(band.profilePlot, form_type='inline') }}</td>
                            <td>{{ render_field(band.colorMap, form_type='inline' ) }}</td>
                        </tr>
                        <tr class="collapse" id="item-{{ band.label.text }}">
                            <td ><button class='Update' id="{{ band.label.text }}" type=button>Update</button></td>
                            <td colspan="2"><img id="img1-{{ band.label.text }}"/></td>
                            <td colspan="2"><img id="img2-{{ band.label.text }}"/></td>
                            
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <script>
            $("td .Update").on("click", updateImg);
            function updateImg(event){
                btn = event.target;
                id = btn.id;
                document.getElementById('img1-'+id).src = get_preview(id, 'hist');
                document.getElementById('img2-'+id).src = get_preview(id, 'cm');
            };
            function get_preview(id, type){
                data = {'type':type};
                data['minVal'] = document.getElementById(id+"-minVal").value;
                data['maxVal'] = document.getElementById(id+"-maxVal").value;
                coords = ['sLat', 'sLong', 'eLong', 'eLat'];
                for (var key in coords){
                    data[coords[key]] = document.getElementById('coords-'+coords[key]).value;
                }
                url = new URL(window.location.href);
                url.pathname = url.pathname+'/'+id;
                for (var key in data){
                    url.searchParams.set(key, data[key]);
                }
                return url
            }
        </script>
    {% endif %}
    
{% endblock %}
