{% extends "base.html.jinja" %}
{% block title %}Инструкция{% endblock %}
{% block content %}
    В данном сервисе вы сможете обработать файл спутниковых данных MODIS Terra или Aqua. Пример файла: P1540064AAAAAAAAAAAAAA23285043708001.SUB1.L2
{% endblock %}