{% extends "base.html" %}
{% block title %}Инструкция{% endblock %}
{% block content %}
    В данном сервисе вы сможете обработать файл спутниковых данных MODIS Terra или Aqua. Пример файла: P1540064AAAAAAAAAAAAAA23285043708001.SUB1.L2
    <hr/>
    Для начала работы необходимо перейти на вкладку <a href="{{ url_for('uploadRawFile') }}">"Главная"<a/>: <br/><img src="static/1.png"/>
    <hr/>
    Далее выбираете файл для обработки и жмёте "Загрузить": <br/><img src="static/2.png"/>
    <hr/>
    Предобработка на сервере может занимать продолжительное время(5-10 минут).
    Когда процесс завершится - Вас перенаправит на страницу с параметрами постобработки.
    <hr/>
    Чтобы узнать статус предобработки можно зайти на <a href="{{ url_for('analytics_history') }}">страницу истории<a/> загрузки исходных файлов. Там же можно перейти на страницу с параметрами постобработки файлов которые были загружены ранее
    <hr/>
    Попадая на страницу с параметрами постобработки вы увидите:
    <br/> 1. Уникальный идентификатор загруженного файла, его название, статус предобработки и время загрузки. Далее - кнопка "Скачать", которая позволяет скачать zip-архив с pdf и txt файлами постобработки.
    <br/> 2. Поле для загрузки txt-файла с координатами экспедиции. <a href="static/template.txt">Пример файла<a/>
    <br/> 3. Поля для ввода координат границ прямоугольной области обработки. Первоначальные значения являются текущими границами исходного файла.
    <br/> 
    <br/>
    <img src="static/3.png"/>
    <img src="static/4.png"/>
{% endblock %}